@model MoviesRental.Models.Expenses
@{
    ViewBag.Title = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <a href="@Url.Action("Expenses", "Home")" class="btn btn-primary">Overview</a>
    <a href="@Url.Action("CreateExpense", "Home")" class="btn btn-primary">Create Expenses</a>
</div>



